<div class="page-title">
<div class="container">
<h1>Editar Lead</h1>

<%= render 'form' %>

<button type="button" class="btn btn-default">
<%= link_to 'Ver', @lead %></button>

<button type="button" class="btn btn-success">
<%= link_to 'Volver', leads_path %></button>

</div>
</div>